In [3]:
# 1.1
input = [3, 6, 7, 8, 5, 5, 6, 5, 9, 14, 13, 9]
input.sort()

# a)
mode = max(set(input), key=input.count)

print(f"Typv채rdet 채r {mode}")

Typv채rdet 채r 5

In [4]:
# b)


def median(my_list: list):
    if len(my_list) % 2 == 1:
        return my_list[(len(my_list) + 1) // 2]

    else:
        return (my_list[(len(my_list)) // 2 - 1] + my_list[(len(my_list)) // 2]) / 2


median(input)

6.5

In [5]:
# c)

sum(input) / len(input)

7.5

In [6]:
# d)

max(input) - min(input)

11

In [7]:
# e) och f)
import pandas as pd

df = pd.DataFrame(input)
df.describe()

               0
count  12.000000
mean    7.500000
std     3.316625
min     3.000000
25%     5.000000
50%     6.500000
75%     9.000000
max    14.000000

In [9]:
# g)
df.var()

0    11.0
dtype: float64

In [10]:
# h)
df.std()

0    3.316625
dtype: float64

In [11]:
# i)
df.mad()

C:\Users\hakan\AppData\Local\Temp\ipykernel_25140\3844944795.py:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  df.mad()

0    2.583333
dtype: float64

In [12]:
# j)
df.skew()

0    0.906029
dtype: float64

In [20]:
# 1.2
# a)
input = [23, 57, 46, 37, 35, 32, 41]
df = pd.DataFrame(input)
df.mode()

    0
0  23
1  32
2  35
3  37
4  41
5  46
6  57

In [21]:
# b)
df.median()

0    37.0
dtype: float64

In [38]:
# c)
df.mean()

0    38.714286
dtype: float64

In [24]:
# d)
max(input) - min(input)

34

In [37]:
df.quantile(0.75, interpolation="higher")

0    46
Name: 0.75, dtype: int64

In [39]:
ans = 0
for i in input:
    ans += i**2
ans

11193

In [42]:
(11193-((df.mean()**2)*7))/6

0    116.904762
dtype: float64

In [41]:
(11193-10483)/6

118.33333333333333

In [43]:
df.mad()

C:\Users\hakan\AppData\Local\Temp\ipykernel_25140\3844944795.py:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  df.mad()

0    7.959184
dtype: float64