In [1]:
#importera paket
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as scs 
import seaborn as sns 
    
# importera palmer penguins
filepath = 'C:/Users/hakan/OneDrive/Documents/Github/Statistics/Data/penguins.csv'
penguins = pd.read_csv(filepath)
penguins = penguins.dropna() # Plocka bort rader som inneh√•ller NaN

In [2]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007

0.25    39.5
Name: bill_length_mm, dtype: float64

In [5]:
df = pd.DataFrame([1, 3, 5, 7, 8, 10])

In [22]:
df.quantile([0.25], interpolation="linear")

        0
0.25  3.5